<mat-toolbar color="primary">
  Ejemplo Angular Material
  &nbsp;
  <a mat-button [matMenuTriggerFor]="menu">Menú</a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Uno</button>
    <button mat-menu-item>Dos</button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" opened>
    <button mat-menu-item>Uno</button>
    <button mat-menu-item>Dos</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-titulo texto="Ejemplo de Output"></app-titulo>
    <app-login (login)="onLogin($event)"></app-login>

    <app-titulo texto="Directivas"></app-titulo>
    <p appHighlight="blue">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda a voluptatibus quaerat aliquam saepe odio impedit illum illo perferendis deleniti dignissimos consequatur harum velit quia, dolorem nisi porro suscipit ea.</p>

    <app-ejemplo-pipes></app-ejemplo-pipes>

    <app-titulo texto="{{title}}"></app-titulo>
    <!-- <app-titulo texto="ejemplos"> -->
    <app-titulo [texto]="title"></app-titulo>
    <!-- tituloComponent.texto = title -->
    
    <app-drag-drop></app-drag-drop>
    <app-tree></app-tree>
    <app-table></app-table>
    <app-dashboard></app-dashboard>
    <app-address-form></app-address-form>
  </mat-sidenav-content>
</mat-sidenav-container>
