<mat-toolbar color="primary">
  Ejemplo Angular Material
  &nbsp;
  <a mat-button [matMenuTriggerFor]="menu">Menú</a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Uno</button>
    <button mat-menu-item>Dos</button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" opened>
    <button mat-menu-item>Uno</button>
    <button mat-menu-item>Dos</button>
  </mat-sidenav>
  <mat-sidenav-content>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum, animi officiis incidunt molestiae provident iure consequatur omnis tempora exercitationem unde maiores consectetur? Magni eaque tempore suscipit ab corporis, rem vitae!
  </mat-sidenav-content>
</mat-sidenav-container>
